.input {
  font-size: 14px;
  font-weight: 400;
  color: var(--text-color);
  background-color: #fcfcfd;
  border: 1px solid rgb(252, 252, 253);
  border-radius: 10px;
  box-shadow: 15px 20px 45px 0px rgba(233, 233, 233, 0.25);
  padding: 16px 30px 16px 44px;
  min-width: 200px;
}

.input-wrapper {
    position: relative;
}
.icon {
    position: absolute;
    left: 17px;
    top: 17px;
}